networks:
  transcendence:
    name: transcendence
    driver: bridge

volumes:
  db_sql:
    name: db_sql
    driver: local
    driver_opts:
      o: "bind"
      type: none
      device: ./db_sql

services:
  db_redis:
    container_name: db_redis
    image: redis/redis-stack:7.4.0-v1
    networks:
      - transcendence
    expose:
      - 6379
    stop_signal: SIGINT
    stop_grace_period: 20s
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping"]
      interval: 1s
      timeout: 5s
      retries: 3

  db_sql:
    container_name: db_sql
    image: postgres:14
    networks:
      - transcendence
    expose:
      - 5432
    volumes:
      - db_sql:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    shm_size: 128mb
    environment:
      POSTGRES_DB: transcendence
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      PGUSER: postgres
    stop_grace_period: 20s 
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 2s
      timeout: 30s
      retries: 10

  app:
    depends_on:
      db_redis:
        condition: service_healthy
      db_sql:
        condition: service_healthy
    container_name: app
    image: app
    build:
      context: .
    networks:
      - transcendence
    ports:
      - "8000:8000"
    stop_grace_period: 20s 
    restart: always
