@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

/* Order of css properties: */
/* - width, height */
/* - position, top, bottom, left, right */
/* - margin, padding */
/* - border */
/* - box-sizing */
/* - transform */
/* - background */
/* - color, font-size */
/* - animation */
/* - misc */
/* - display */

/* Note(Anthony): Define CSS variables here*/
:root {
	--td-font-size: 32px;
	--td-border-size: 0.3em;
	--td-ui-background-color: white;
	--td-ui-font-color: black;
	--td-ui-toggle-color: red;
	--td-avatar-height: calc(4.16em * 0.8);
	--td-avatar-width: calc(5em * 0.8);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-size: var(--td-font-size);
	font-family: "Monomaniac One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
    background-color: var(--td-ui-background-color);
    color: var(--td-ui-font-color);
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 50px;
    color: #2c3e50;
    text-align: center;
}

main {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.ui {
	border: var(--td-border-size) solid var(--td-ui-font-color);
	box-sizing: border-box;
}

.ui-text {
	padding: 0.5em 0.5em;
}

.content-container {
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

.content-container > * {
	width: 100%;
}

#notification-popup {
	position: fixed;
	bottom: 0;
	width: fit-content;
	height: fit-content;
	min-width: 12rem;
	margin-bottom: 0.4rem;
	background: var(--td-ui-background-color);
	z-index: 101;
	opacity: 0;
	transition: opacity 1s ease-out;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#notification-popup.show {
	opacity: 1;
	animation: wiggle .6s;
	pointer-events: auto;
}

@keyframes wiggle {
	0% {transform: rotate(3deg);}
	25% {transform: rotate(-3deg);}
	50% {transform: rotate(3deg);}
	75% {transform: rotate(-3deg);}
	100% {transform: rotate(0deg);}
}

#confirm-to-logout-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	opacity: 0;
	transition: opacity 1s ease-out;
	pointer-events: none;
}

#confirm-to-logout-popup.show {
	opacity: 1;
	pointer-events: auto;
}

#confirm-to-logout-popup.show > div {
	animation: wiggle .6s;
}

.speech-bubble {
	--triangle-position: 20%;
	border: calc(var(--td-border-size) / 2) solid var(--td-ui-font-color);
	box-sizing: border-box;
	z-index: 3;
}

.speech-bubble::before {
	content: '';
	position: absolute;
	top: 100%;
	left: calc(var(--triangle-position) - (var(--td-border-size) / 2));
	width: 0;
	height: 0;
	border: 0.75em solid transparent;
	border-top-color: var(--td-ui-font-color);
	border-left: 0;
}

.speech-bubble::after {
	content: '';
	position: absolute;
	top: 99%;
	left: var(--triangle-position);
	width: 0;
	height: 0;
	border: 0.4em solid transparent;
	border-top-color: var(--td-ui-background-color);
	border-left: 0;
}
