body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 50px;
}

.ui {
	border: var(--td-border-size) solid var(--td-ui-font-color);
	box-sizing: border-box;
}
